.rectFirstBackground {
    position: absolute;
    width: 50%;
    height: 1024px;
    left: 720px;
    top: 0px;
    background: #21252B;
}

.rect1 {
    position: absolute;
    width: 615px;
    height: 194px;
    left: 105px;
    top: 52px;
    background: #21252B;
}

.rect2 {
    position: absolute;
    width: 615px;
    height: 194px;
    left: 720px;
    top: 52px;
    background: #EDFEEB;
}

.hello {
    position: absolute;
    width: 600px;
    height: 648px;
    left: 80px;
    top: 284px;
    background: #21252B;
}

.textHello {
    width: 357px;
    height: 115px;
    margin-top: 266px;
    margin-left: 121px;
    font-weight: 400;
    font-size: 96px;
    line-height: 115px;

    color: #F8F9E9;
}

.info {
    position: absolute;
    width: 600px;
    height: 648px;
    left: 760px;
    top: 284px;
    background: #EDFEEB;
    text-align: center;
}

.infoText {
    width: 509px;
    height: 406px;
    margin-top: 106px;
    margin-left: 60px;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    text-align: left;
    color: #282C34;
}