@import url('https://fonts.googleapis.com/css2?family=Sono:wght@200;300;400;500;600;700;800&display=swap');

.app {
    /* scroll-behavior: smooth; */
    font-family: 'Sono';
}

body {
    -webkit-transition: all 1000ms ease;
    -moz-transition: all 1000ms ease;
    -Ms-transition: all 1000ms ease;
    -o-transition: all 1000ms ease;
    transition: all 1000ms ease;
}