.form {
    width: 30vw;
    padding: 2.77vw;
}

label {
    font-size: 2.08vw;
    margin-left: 4vw;
}

.inputSty {
    padding-left: 0.69vw;
    margin-left: 3.47vw;
    margin-bottom: 2.08vw;
    margin-top: 0.34vw;
    width: 20.83vw;
    height: 2.08vw;
    border-radius: 0.34vw;
    border: none;
}
.messageInput {
    height: 20.83vw;
    padding-left: 0.69vw;
    margin-left: 3.47vw;
    margin-bottom: 2.08vw;
    margin-top: 0.34vw;
    width: 20.83vw;
    border-radius: 0.34vw;
    border: none;
}

.submitButton {
    background-color: #F8512F;
    margin-left: 3.47vw;
    width: 21.52vw;
    height: 3.47vw;
    border: none;
    border-radius: 0.34vw;
    font-size: 1.875vw;
    color: #F8F9E9;
    font-family: 'Sono';

    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.submitButton:hover {
    transform: scale(1.01);
}

.flexItems {
    display: flex;
    gap: 5.55vw;
}

.paragr {
    width: 32.63vw;
    height: 48.61vw;
    font-size: 2.56vw;
    margin-left: 10.41vw;
    margin-top: 8.33vw;
}